
{% extends 'base.html' %}
{% block title %}
course
{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock %}

{% block main %}
<main id="course-container">
  <div class="w1200">
    <ul class="course-list">
      <li class="course-item">
        <a href="javascript:void(0)">
          <img class="course-img" src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg"
               alt="潭州英语">
          <div class="course-content">
            <p class="course-info">英语英语</p>
            <p class="course-author">帅帅(潭州教育 Python 学院高级讲师)</p>
            <p class="course-pirce free">免费</p>
          </div>
        </a>
      </li>
      <li class="course-item">
        <a href="javascript:void(0)">
          <img class="course-img" src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg"
               alt="潭州英语">
          <div class="course-content">
            <p class="course-info">Python 英语英语</p>
            <p class="course-author">帅帅(潭州教育 Python 学院高级讲师)</p>
            <p class="course-pirce free"><span>￥</span>123</p>
          </div>
        </a>
      </li>
      <li class="course-item">
        <a href="javascript:void(0)">
          <img class="course-img" src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg"
               alt="潭州英语">
          <div class="course-content">
            <p class="course-info">Python 英语英语</p>
            <p class="course-author">帅帅(潭州教育 Python 学院高级讲师)</p>
            <p class="course-pirce free">免费</p>
          </div>
        </a>
      </li>
      <li class="course-item">
        <a href="javascript:void(0)">
          <img class="course-img" src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg"
               alt="潭州英语">
          <div class="course-content">
            <p class="course-info">Python Python计划书书书输送</p>
            <p class="course-author">帅帅(潭州教育 Python 学院高级讲师)</p>
            <p class="course-pirce free">免费</p>
          </div>
        </a>
      </li>
      <li class="course-item">
        <a href="javascript:void(0)">
          <img class="course-img" src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg"
               alt="潭州英语">
          <div class="course-content">
            <p class="course-info">Python Python计划书书书输送</p>
            <p class="course-author">帅帅(潭州教育 Python 学院高级讲师)</p>
            <p class="course-pirce free">免费</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</main>
{% endblock %}

{% block script %}

{% endblock %}


