{% extends '../../base.html' %}
{% block title %}
新闻页面
{% endblock %}

{% block link %}
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static '/css/news/news-detail.css' %}">
{% endblock %}

<!-- main start -->
{% block main %}
<main id="main">
  <div class="w1200 clearfix">
    <!-- news-contain start  -->
    <div class="news-contain">
      <h1 class="news-title">我就说我</h1>
      <div class="news-info">
        <div class="news-info-left">
          <span class="news-author">作者</span>
          <span class="news-pub-time">1小时前</span>
          <span class="news-type">类型</span>
        </div>
      </div>
      <article class="news-content">
        文章内容
      </article>
      <div class="comment-contain">
        <div class="comment-pub clearfix">
          <div class="new-comment">
            文章评论(<span class="comment-count">0</span>)
          </div>
          <div class="comment-control please-login-comment" style="display:none;">
            <input type="text" placeholder="请登录后参加评论">
          </div>
          <div class="comment-control logged-comment">
            <input type="text" placeholder="请填写评论">
          </div>
          <button class="comment-btn">发表评论</button>
        </div>
        <ul class="comment-list">
          <li class="comment-item">
            <div class="comment-info clearfix">
              <img src="../images/avatar.jpeg" alt="avatar" class="comment-avatar">
              <span class="comment-user">评论人</span>
              <span class="comment-pub-time">1小时前</span>
            </div>
            <div class="comment-content">这是一条评论</div>
          </li>
          <li class="comment-item">
            <div class="comment-info clearfix">
              <img src="../images/avatar.jpeg" alt="avatar" class="comment-avatar">
              <span class="comment-user">评论人</span>
              <span class="comment-pub-time">1小时前</span>
            </div>
            <div class="comment-content">这是一条评论</div>
          </li>
        </ul>
      </div>

    </div>
    <!-- news-contain end  -->
    <!-- side start -->
    <aside class="side">
      <div class="side-activities">
        <h3 class="activities-title">在线课堂<a href="javascript:void(0)">更多</a></h3>
        <div class="activities-img">
          <a href="javascript:void(0);" target="_blank">
            <img src="https://res.shiguangkey.com//file/201804/26/20180426142628123364782.jpg" alt="title">
          </a>
          <p class="activities-tips">外国Girl在向你招手</p>
        </div>
        <ul class="activities-list">
          <li>
            <a href="javascript:void(0);" target="_blank">
              <span class="active-status active-start">报名中</span>
              <span class="active-title"> Python基础班</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" target="_blank">
              <span class="active-status active-end">已结束</span>
              <span class="active-title">法语基础班</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="side-attention clearfix">
        <h3 class="attention-title">关注我</h3>
        <ul class="side-attention-address">
          <li>
            <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-GitHub"></i>付帅帅</a>
          </li>
          <li>
            <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-zhihu" style="color:rgb(0, 108, 226);"></i>付帅帅付帅帅</a>
          </li>
          <li>
            <a href="javascript:void(0);" target="_blank"><i class="PyWhich py-weibo" style="color:rgba(245, 100, 103)"></i>付帅帅</a>
          </li>
        </ul>
        <div class="side-attention-qr">
          <p>扫码关注</p>
        </div>
      </div>
      <div class="side-hot-recommend">
        <h3 class="hot-recommend">热门推荐</h3>
        <ul class="hot-news-list">
          <li>
            <a href="javascript:void(0)" class="hot-news-contain clearfix">
              <div class="hot-news-thumbnail">
                <img src="http://a1.qpic.cn/psb?/V13Pc4324LdOaJ/EaLrCUqB.T14wh*zo.6jalz0OlnGr7k*Ka5MzNoWnsY!/b/dAgBAAAAAAAA"
                     alt="">
              </div>
              <div class="hot-news-content">
                <p class="hot-news-title">湖南信息技术类中高职衔接培训班来访潭州，探索互联网+教育新模式</p>
                <div class="hot-news-other clearfix">
                  <span class="news-type">热点</span>
                  <time class="news-pub-time" datetime="6-16">6月16日</time>
                  <span class="news-author">Which</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="hot-news-contain clearfix">
              <div class="hot-news-thumbnail">
                <img src="http://a1.qpic.cn/psb?/V13Pc4324LdOaJ/EaLrCUqB.T14wh*zo.6jalz0OlnGr7k*Ka5MzNoWnsY!/b/dAgBAAAAAAAA"
                     alt="">
              </div>
              <div class="hot-news-content">
                <p class="hot-news-title">湖南信息技术类中高职衔接培训班来访潭州，探索互联网+教育新模式</p>
                <div class="hot-news-other clearfix">
                  <span class="news-type">热点</span>
                  <time class="news-pub-time" datetime="6-16">6月16日</time>
                  <span class="news-author">Which</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="hot-news-contain clearfix">
              <div class="hot-news-thumbnail">
                <img src="http://a1.qpic.cn/psb?/V13Pc4324LdOaJ/EaLrCUqB.T14wh*zo.6jalz0OlnGr7k*Ka5MzNoWnsY!/b/dAgBAAAAAAAA"
                     alt="">
              </div>
              <div class="hot-news-content">
                <p class="hot-news-title">湖南信息技术类中高职衔接培训班来访潭州，探索互联网+教育新模式</p>
                <div class="hot-news-other clearfix">
                  <span class="news-type">热点</span>
                  <time class="news-pub-time" datetime="6-16">6月16日</time>
                  <span class="news-author">Which</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!-- side end -->
  </div>
</main>

{% endblock %}
<!-- main end -->
{% block script %}
{% endblock %}
<!-- footer start -->
<!-- footer end -->
s