<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


</body>
</html>
<link rel="stylesheet" href="../static/css/base/sweetalert.css">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="../static/js/base/sweetalert.min.js"></script>
<script src="../static/js/base/message.js"></script>
<script>

    /*/
 window.message 是message的对象
 window.message = new Message();
 绑定上去的
 message是基于jq开发的，所以要先引用jq
 * */
    /*/
    window.message('ss')
    /*/
    /*/
    swal('xxx', 'wenben', 'success')
</script>